@model SplitViewModel

<div id="SplitModal_@Model.Id" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form id="SplitForm_@Model.Id" method="post" data-ajax="true" data-ajax-cache="false" data-ajax-loading="#mainLoading" data-ajax-success="onAjaxSuccess" asp-action="@(Model.Id>0?"Edit":"Create")">
                <div class="modal-header">
                    <h5 class="modal-title">@(Model.Id>0?"Edit":"Create") Split</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <input asp-for="Id" type="hidden" />
                    <input asp-for="ProjectId" type="hidden" />

                    <div class="form-group mt-2">
                        <label asp-for="Caption" class="form-label"></label>
                        <input asp-for="Caption" class="form-control" />
                        <span asp-validation-for="Caption" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-2">
                        <label asp-for="FromDate" class="form-label"></label>
                        <input asp-for="FromDate" class="form-control" />
                        <span asp-validation-for="FromDate" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-2">
                        <label asp-for="ToDate" class="form-label"></label>
                        <input asp-for="ToDate" class="form-control" />
                        <span asp-validation-for="ToDate" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-2">
                        <label asp-for="Description" class="form-label"></label>
                        <textarea asp-for="Description" class="form-control"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Save</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>

    <script>
        function onAjaxSuccess(data) {
            if (data.status) {
                getSplits(@Model.ProjectId);
                showSuccessToast(data.message);
                closeAllModals();
            } else {
                showError(data.message);
            }
        }
    </script>

</div>